{% extends 'layouts/base.html' %}
{% load static %}
{% block 'content' %}
<h1> Student profile from database </h1>
<div class="card mb-3">
  <img src="{{student.image_url}}"
       width="300" height="300"
       class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{student.name}}</h5>
    <p class="card-text">Age: {{student.age}}.</p>
    <p class="card-text">Created at: {{student.created_at}}.</p>
    <p class="card-text">Updated at: {{student.updated_at}}.</p>
<!--    {{student.image_url}}-->
  </div>
</div>

{% endblock %}